<h1>Вид работы - <%= @work.name %></h1>



<%= form_for(@work) do |f| %>
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit "Update" %>
</div>
<% end %>

<h2>Необходимые материалы для выполнения работы</h2>
<%= form_for Slist.new do |f| %>
  <%= collection_select(:slist, :spare_id, Spare.all, :id, :name) %>
  <%= f.hidden_field :work_id, :value=>@work.id %>
  <%= f.label :count %>
  <%= f.text_field :count %>
  <%= f.submit "Add" %>
<% end %>
<br/>
<table>
<tr>
  <th>Название</th>
  <th>Количество</th>
  <th></th>
  <th></th>
</tr>
<% @work.slists.each do |f| %>
<tr>
  <td><%= f.spare.name %></td>
  <td><%= f.count %></td>
  <td><%= link_to "Edit", edit_work_path(f.id) %></td>
  <td><%= link_to "Delete", slist_path(f.id, @work.id), :confirm => 'Are you sure?', :method => :delete%></td>
</tr>
<% end %>
</table>
