<div>
  <%= link_to "Автомобили", cauto_path(@client.id)%>
  <%= link_to "Заказы", order_path(@client.id)%>
</div>

<%= form_for(@client) do |f| %>
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :addres %>
  <%= f.text_field :addres %>
</div>
<div class="field">
  <%= f.label :phone %>
  <%= f.text_field :phone %>
</div>
<div class="action">
  <%= f.submit "Update" %>
</div>
<% end %>